version: '3'
services:
  sumo-app:
    build:
      context: .
      dockerfile: app/Dockerfile.sumoapp
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./sumo:/sumo
    ports:
      - "1234:1234"  # Replace with the desired port mapping
    environment:
      - TRACI_PORT=1234  # Set the TraCI port to match the port mapping
      - DISPLAY=host.docker.internal:0.0
    depends_on:
      - influxdb

  sumo-api:
    build:
      context: .
      dockerfile: api-1.0/Dockerfile.sumoapi
    ports:
      - "5000:5000"  # Replace with the desired port mapping
    depends_on:
      - sumo-app

  influxdb:
    image: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_ORG=ERENA
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=I5Iyui0V6B-MLOX9Hm_GlcvC7ZqJVTMDF04fqfFsgDQjniavDldsZ4jhtfBOKKwi1l4ACjBarQXvDEFrYYZ6CQ==
      - DOCKER_INFLUXDB_INIT_BUCKET=db
      - DOCKER_INFLUXDB_INIT_USERNAME=erena
      - DOCKER_INFLUXDB_INIT_PASSWORD=erena123
    volumes:
      - ./influxdb:/var/lib/influxdb

